
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPurchaseLabel">Création ou edition d'une commande</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="field_date">Date</label>
            <div class="row">
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="date" id="field_date" class="form-control" ng-model="purchase.date"
                               uib-datepicker-popup is-open="opened"
                               placeholder="dd/MM/yyy" min="2015-10-01" max="2015-12-31"
                               name="date" />
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>-->
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="field_fries">Frites</label>
            <input type="checkbox" class="form-control" name="fries" id="field_fries"
                    ng-model="purchase.fries" ng-init="purchase.fries=true">
        </div>
        <div class="form-group">
            <label for="field_food">Burger</label>
            <select class="form-control" id="field_food" name="food" ng-model="purchase.food"
                    ng-options="food as food.name for food in foods track by food.id">
                <option value=""></option>
            </select>
        </div>
        <div >
            <label>Boisson</label>
            <div class="row">
                <div ng-repeat="drink in drinks" class="col-xs-3 col-md-2">
                    <label class="text-center radio-thumbnail">
                        <input id="{{drink.name}}" type="radio" class="form-control" name="drink"
                               ng-model="purchase.drink" ng-value="drink"/>
                            <span class="thumbnail">
                                <img ng-src="assets/images/{{drink.photo}}" alt="{{drink.name}}"/>
                            </span>
                    </label>
                </div>
            </div>
        <div class="form-group">
            <label for="field_delivery">Livraison</label>
            <input type="checkbox" class="form-control" name="delivery" id="field_delivery" ng-model="purchase.delivery">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Valider</span>
        </button>
    </div>
</form>
