
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPurchaseLabel">Create or edit a Purchase</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <!-- TODO : Afficher uniquement avec profil admin -->
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="purchase.id" readonly>
        </div>
        <div class="form-group" >
            <label for="field_date">Date</label>
            <input type="date" id="field_date" class="form-control" name="date" ng-model="purchase.date">
        </div>
        <div class="form-group">
            <label for="field_fries">Frites</label>
            <input type="checkbox" class="form-control" name="fries" id="field_fries"
                    ng-model="purchase.fries" ng-checked="true">
        </div>
        <div class="form-group">
            <label for="field_food">Burger</label>
            <select class="form-control" id="field_food" name="food" ng-model="purchase.food"
                    ng-options="food as food.name for food in foods track by food.id">
                <option value=""></option>
            </select>
        </div>
        <div >
            <label>Boisson</label>
            <div class="row">
                <div ng-repeat="drink in drinks" class="col-xs-3 col-md-2">
                    <label class="text-center radio-thumbnail">
                        <input id="{{drink.name}}" type="radio" class="form-control" name="drink"
                               ng-model="purchase.drink" ng-value="drink" />
                            <span class="thumbnail">
                                <img ng-src="assets/images/{{drink.photo}}" alt="{{drink.name}}"/>
                            </span>
                    </label>
                </div>
            </div>
        <div class="form-group">
            <label for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="purchase.user" >
            </select>
        </div>
        <div class="form-group">
            <label for="field_delivery">Livraison</label>
            <input type="checkbox" class="form-control" name="delivery" id="field_delivery" ng-model="purchase.delivery">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
