<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Créer un compte</h1>

            <div class="alert alert-success" ng-show="success">
                <strong>Enregistrement prise en compte !</strong>
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Enregistrement échec !</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists">
                <strong>Login déjà utilisé !</strong> Prend s'en un autre du con.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists">
                <strong>E-mail déjà utilisé !</strong> Prend s'en un autre du con.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                Les deux mots de passes ne sont pas identiques !
            </div>

            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>

                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Choisir un login"
                           ng-model="registerAccount.login" ng-minlength=1 ng-maxlength=20 ng-pattern="/^[a-z0-9]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
                            Un login est nécessaire.
                        </p>
                        <p class="help-block" ng-show="form.login.$error.minlength">
                            Le login doit avoir au moins un caractère.
                        </p>
                        <p class="help-block" ng-show="form.login.$error.maxlength">
                            Le login doit être inférieur à 20 caractères.
                        </p>
                        <p class="help-block" ng-show="form.login.$error.pattern">
                            Le login ne doit contenir que des caractères minuscule.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre Email"
                           ng-model="registerAccount.email" ng-minlength=5 ng-maxlength=40 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block" ng-show="form.email.$error.required">
                            Email est obligatoire.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.email">
                            Email invalide.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.minlength">
                            Email doit avoir au moin 5 caractères.
                        </p>
                        <p class="help-block" ng-show="form.email.$error.maxlength">
                            Email doit être inférieur à 40 caractères..
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Nouveau password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nouveau password"
                           ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=20 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"  ng-show="form.password.$error.required">
                            Mot de passe obligatoire.
                        </p>
                        <p class="help-block" ng-show="form.password.$error.minlength">
                            Your password is required to be at least 5 characters.
                        </p>
                        <p class="help-block" ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 20 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirmation du password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirmation du password"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=20 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block" ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block" ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 5 characters.
                        </p>
                        <p class="help-block" ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 20 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Valider</button>
            </form>
        </div>
    </div>
</div>
